{% extends "base.html" %}
{% load blog_tags %}
{% block title %}
  my blog
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1> let it fall ...
      <small> I have written {% total_posts %} posts so far</small>
    </h1>
    <hr>
    {% for post in posts %}
    <section class="post-item">
      <h3>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h3>
      <p>
     Published by {{ post.author }} on {{ post.publish }}
      </p>
      {{ post.content|markdown|truncatewords_html:30 }}
    </section>
    {% endfor %}
  </div>
</div>


{% endblock %}
