{% extends "base.html" %}
{% load blog_tags %}
{% block title %}
  my blog
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-4">
    <h3>latest posts</h3>
    {% show_latest_posts %}
  </div>
  <div class="col-xs-12 col-md-8">
    <h1> let it fall ...
      <small> I have written {% total_posts %} posts so far</small>
    </h1>
    <hr>
    {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
    <section class="post-item">
      <h3>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h3>
      <p>
     Published by {{ post.author }} on {{ post.publish }}
      </p>
      <small>Tags:
        {% for tag in post.tags.all %}
        <a href="{% url "bloggit:post_list_by_tag" tag.slug %}">
        {{ tag.name }}
        {% if not forloop.last %}, {% endif %} {# add comma #}
        </a>
        {% endfor %}
        </small>
      {{ post.content|markdown|truncatewords_html:30 }}
    </section>
    {% endfor %}
  </div>
</div>

{% endblock %}
